.model-container {
    margin: 2%;
}

.button-list{
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        padding: 10px;
        margin-left: 10px;
        background: none;
        cursor: pointer;
    }
    button:hover {
        background: grey;
        color: white;
    }

}

.image-wrapper {
    // height: 100vh;
    // width: 100vw;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    img {
    width: 1200px;
    aspect-ratio: 16/9;
    object-fit: cover;
    padding: 10px;
    }
    // .page-content{
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
    
    overflow: auto hidden;
    height: 92vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    align-items: center;
    
}

.home-button {
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    width: 80px;
}

